* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* H1 heading for all section */
.h-primary {
    text-align: center;
    width: 100%;
    font-size: 70px;
    padding-top: 30px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.text {
    margin: 21px 7px;
    color: white;
    padding: 14px;
    height: 55px;
    width: 230px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px rgb(11, 11, 124);

}

/* Navbar */
#navbar {
    display: flex;
    align-items: center;
    text-align: center;
    top: 0px;
    background-color: #000;
    
}

#navbar li {
    display: inline-block;
    font-size: 27px;
    padding: 0px 14px;
}

#navbar li a {
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

#navbar li a:hover {
    color: rgb(146, 141, 141);
    border-bottom: 4px solid rgb(153, 151, 151);


}

#navbar .item.active {
    border-bottom: 4px solid rgb(221, 219, 219);
}

/* Header left */
.header_left {
    height: 98px;
    display: flex;
}

/*Header Right */
.header_right {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 2px;
    margin-left: 535px;
    margin-bottom: 6px;
    border-radius: 14px;
    width: 231px;
}

.header_right input {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 20px;
    outline: 0;
    width: 184px;
}

.header_right .material-icons {
    font-size: xx-large;
    color: black;
}

.header_right .material-icons {
    color: black;
}

/*-------------  Main Body starts ----------------- */
.sec {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sec::before {
    content: "";
    background: url('https://media.istockphoto.com/photos/dark-blue-stained-grungy-background-or-texture-picture-id1132593892?k=20&m=1132593892&s=612x612&w=0&h=dMVA_OoY01ef2jUR223F4M0vFA4HRZ8i44q9TMZGHcQ=') no-repeat center center/cover;
    position: absolute;
    background-size: cover;
    top: 0px;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: -1;
    opacity: 0.99;
}

.sec h1 {
    font-size: 57px;
    color: white;
}

.sec p {
    color: white;
    font-size: 34px;
    text-align: center;
}

/*---------------  SECTION 2 starts--------------- */
.container {
    font-size: 160px;
    margin: auto;
    padding: 42px 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 550px;
    line-height: 180px;
    background-color: #fffbed;
}

.box-1 {
    display: flex;
    height: 200px;
    width: 48%;
    margin: auto;
    padding-top: 40px;
}

.box-2 {
    display: flex;
    height: 200px;
    width: 300px;
    margin: auto;
}

#alpha-1 {
    color: rgb(201, 84, 103);
    padding: 12px 14px;
}

#alpha-2 {
    color: rgb(234, 255, 41);
    padding: 12px 14px;
}

#alpha-3 {
    color: rgb(71, 139, 15);
    padding: 12px 14px;
}

#alpha-4 {
    color: rgb(44, 118, 136);
    padding: 12px 14px;
}

#alpha-5 {
    color: rgb(212, 127, 252);
    padding: 12px 14px;
}

#alpha-6 {
    color: rgb(250, 20, 173);
    padding: 12px 14px;
}

#alpha-7 {
    color: rgb(235, 122, 17);
    padding: 12px 14px;
}

#btn {
    display: flex;
    border: 2px solid rgb(185, 93, 109);
    background-color: rgb(248, 235, 210);
    width: 173px;
    height: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#btn a {
    text-decoration: none;
    color: rgb(185, 93, 109);
    font-weight: bolder;
}

#btn:hover {
    cursor: pointer;
    background-color: rgb(236, 209, 175);
    border: 3px solid rgb(185, 93, 109);
}

#btn a:hover {
    color: rgb(133, 183, 248);
}

/*------------------ Intro SECTION starts --------------*/
#intro_section {
    height: 400px;
    width: 100%;
    border: 1px solid grey;

}

#intro_section::before {
    content: "";
    background: url('https://img.freepik.com/free-photo/web-design-concept-with-drawings_1134-77.jpg?size=626&ext=jpg&ga=GA1.2.1707677169.1658906058') no-repeat center center/cover;
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
    z-index: -1;
}

#intro_section .ptext {
    display: flex;
    flex-direction: column;
    width: 525px;
    height: 100px;
    margin: 107px auto;
    padding: 36px 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: rgb(84 75 75 / 80%);
    box-shadow: 2px 4px 3px rgb(74 65 65);
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

#intro_section .ptext {
    transition: all .7s ease-in-out;
    font-size: larger;
}

#intro_section .ptext:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 10px 10px 10px rgb(74 65 65);
}

/* --------------- IntroSub Section ----------------------*/
.pimg1 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://cdn.pixabay.com/photo/2018/01/26/09/07/hand-3108158__340.jpg');
    height: 500px;
}

#IntroSub_section .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

#IntroSub_section .ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

#IntroSub_section .ptext .border.trans {
    background-color: transparent;
}

.sec1 {
    text-align: center;
    padding: 50px 80px;
    background-color: #282e34;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 40px;

}

.section-light {
    color: white;
}

@media(max-width:500px) {
    .pimg1 {
        background-attachment: scroll;
    }
}

/*------------------ Services SECTION starts --------------*/
#services_section {
    display: flex;
    flex-wrap: wrap;
    word-spacing: 3px;
    opacity: 0.75;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://media.istockphoto.com/photos/keep-learning-concept-letters-of-the-alphabet-on-a-chalk-board-drawn-picture-id1337381696?b=1&k=20&m=1337381696&s=170667a&w=0&h=hQc5cLMDFG3MobpC5Gt-GgKSlEP9H2KZFnONIhjEwfE=');
    height: 930px;
}

#services_section .grid-item {
    height: 280px;
    width: 450px;
    margin: 28px auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    border-radius: 12px;
    background-color: rgb(0, 0, 0, 0.8);
    box-shadow: 2px 4px 3px rgb(0 0 0);
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

#services_section .grid-item {
    transition: all .4s ease-in-out;
    margin-top: 40px;
}

#services_section .grid-item:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transform-box: 10s;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}


/* ---------------- Clients Section --------------- */
#clients_section {
    position: relative;
    height: 57%;
    width: 100%;
}

#clients_section::before {
    content: "";
    position: absolute;
    background: url('https://t4.ftcdn.net/jpg/04/00/89/23/240_F_400892377_GwKmbqiDKTyoZQKwgD2PWRE9s4DNgc9m.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.59;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;

}

#clients img {
    height: 205px;
    border-radius: 40px;
    background-color: rgb(0, 0, 0, 0.8);
    box-shadow: 2px 4px 3px rgb(2, 2, 2);
}

#clients_section #clients img {
    transition: all .4s ease-in-out;
}

#clients_section #clients img:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transform-box: 10s;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

/* ----------------------- Contact Section----------------------*/
#ContactUs_section {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}

#ContactUs_section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('https://media.istockphoto.com/photos/contact-concept-picture-id694238056?k=20&m=694238056&s=612x612&w=0&h=A3a9Hfu2H6AC7AJH1LYEH1fukPKiZ3R6hsENcqs7DmA=') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    background-color: rgb(231, 230, 230);
    border: 3px solid black;
    outline: none;
    opacity: 0.6;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#btn2 {
    display: flex;
    background-color: rgb(201, 198, 198);
    border: 2px solid black;
    width: 173px;
    height: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 18px;
    width: 30%;
}

#btn2 a {
    text-decoration: none;
    color: rgb(185, 93, 109);
    font-weight: bolder;
}

#btn2:hover {
    cursor: pointer;
    background-color: rgb(197, 191, 191);
    border: 3px solid rgb(114, 109, 109);
    color: whitesmoke
}

/*----------------- Footer ----------------*/
footer {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
}

/*------------ Adding Responsiveness ----------*/
@media screen and (min-width: 375px) and (max-width: 1253px) {

    /* Navbar responsiveness */
    #navbar {
        display: block;
        padding-bottom: 10px;
    }

    .header_left{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #navbar ul li {
        display: block;
    }

    #navbar .item.active {
        border-bottom: none;
    }

    #navbar .header_right {
        display: none;
    }

    /* section */
    .section {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 390px;
    }

    .section p {
        font-size: 23px;
    }

    .sec h1 {
        font-size: 40px;
    }

    /* Container Section */
    .container {
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        height: 390px;
        font-size: 100px;
    }

    .box-1 {
        width: 379px;
        height: 185px;
        padding-top: 0px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .box-2 {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #alpha-1 {
        color: rgb(201, 84, 103);
        padding: 0px;
    }

    #alpha-2 {
        color: rgb(234, 255, 41);
        padding: 0px;
    }

    #alpha-3 {
        color: rgb(71, 139, 15);
        padding: 0px;
    }

    #alpha-4 {
        color: rgb(44, 118, 136);
        padding: 0px;
    }

    #alpha-5 {
        color: rgb(212, 127, 252);
        padding: 0px;
    }

    #alpha-6 {
        color: rgb(250, 20, 173);
        padding: 0px;
    }

    #alpha-7 {
        color: rgb(235, 122, 17);
        padding: 0px;
    }

    /* Intro Section*/
    #intro_section {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    /* IntroSub Section */
    #IntroSub_section {
        height: 350px;
    }

    .sec1 {
        display: none;
    }

    .pimg1 {
        height: 349px;
    }

    #IntroSub_section .ptext {
        display: flex;
        letter-spacing: 0px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    /* Services Section */
    #services_section {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .grid-item{
        display: flex; 
    }
    .grid-text{
        display: flex;
    }

    /* Clients Section */
    #clients_section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
       
    }
    #clients{
        display: inline-block;    
    }

    /* Contact Section */
    #contact-box form{
    width: 88%;
    }
}